body {
  background-color: #000;
  text-align: center;
}

.navbar-brand, .navbar-nav li a {
  color: #fff !important;
} 

img#logo {
  width: 27.5%; 
  margin-top: 2.5em;
}

.buttonWrapper {
  display: inline-block;
  width: auto;
  margin-top: 2em;
  height: 60px; 
  border-radius: 10px; 
}
.contentButton {
  border-bottom: 12px solid #C2AE22; 
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  padding: 1em;
  background: #FFE82F;
  position: relative;
  top: 0;
}
.contentButton:hover {
  background: #FCFA59;
  border-bottom: 9px solid #C2AE22; 
  top: 5px;
}

.contentNavigator {
  display: inline-block;
}

.answerWrapper {color: #FFE82F; text-align: center; font-weight: bold; font-size: 1.2em; margin-top: 3em;}
.answerWrapper span {display: block;}

.contentNavigator {position: fixed; bottom: 5px; left: 48%; font-size: 1.1em;}
.contentNavigator a, .contentNavigator span {color: #fff;}
.contentNavigator span {padding: 2px 8px; font-size: .9em;}
.disabledNav {color: #ccc; padding: 0 !important;}