<template>
    <div>
        <div class="separator"></div>
        <div class="buttonWrapper">
            <button type="button" class="btn btn-warning contentButton" @click="getAnswer">
                <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.612 17.443c-.386.198-.824-.149-.746-.592l.83-4.73-3.522-3.356c-.33-.314-.16-.888.282-.95l4.898-.696 2.184-4.327c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L10 15.187l-4.389 2.256z"></path>
                </svg>

                {{ questions[questionIndex] }}

                <svg class="bi bi-star-fill" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.612 17.443c-.386.198-.824-.149-.746-.592l.83-4.73-3.522-3.356c-.33-.314-.16-.888.282-.95l4.898-.696 2.184-4.327c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L10 15.187l-4.389 2.256z"></path>
                </svg>
            </button>
        </div>
        
        <div class="separator"></div>
        <div class="answerWrapper">
            <span v-for="(answer, index) in answers" :key="index">{{ answer.name }}</span>
        </div>


        <div class="separator"></div>
        <div class="contentNavigator">
            <span class="disabledNav" v-if="questionIndex==0">&lt;</span>
            <a href="#" @click="prevQuestion" v-else>&lt;</a>
            
            <span>{{ questionIndex+1 }}/{{ questions.length }}</span>
            
            <span class="disabledNav" v-if="questionIndex == (questions.length - 1)">&gt;</span>
            <a href="#" @click="nextQuestion" v-else>&gt;</a>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                questions: [
                    'Which of all Star Wars movies has the longest opening crawl?',
                    'What character (person) appeared in most of the Star Wars films?',
                    'What species appeared in the most number of Star Wars films?',
                    'What planet in Star Wars universe provided largest number of vehicle pilots?',
                ],
                questionIndex: 0,
                answers: []
            }
          },
        methods: {
            nextQuestion: function () {
                var app = this;
                app.answers = [];
                if(app.questionIndex < app.questions.length) app.questionIndex++;
            },
            prevQuestion: function () {
                var app = this;
                app.answers = [];
                if(app.questionIndex != 0) app.questionIndex--;
            },
            getAnswer: function() {
                var app = this;
                app.answers = [];
                var apiUrl = '';
                var currentQuestion = app.questions[app.questionIndex];

                if(currentQuestion == 'Which of all Star Wars movies has the longest opening crawl?') {
                    apiUrl = 'api/longest-opening-crawal';

                } else if(currentQuestion == 'What character (person) appeared in most of the Star Wars films?') {
                    apiUrl = 'api/most-appeared-character';

                } else if(currentQuestion == 'What species appeared in the most number of Star Wars films?') {
                    apiUrl = 'api/species-appeared-in-the-most-number';

                } else if(currentQuestion == 'What planet in Star Wars universe provided largest number of vehicle pilots?')  {
                    apiUrl = 'api/planet-longest-number-vehicle-pilots';
                }

                axios.get(apiUrl)
                  .then(function (response) {
                    // handle success
                    app.answers = response.data;
                  })
                  .catch(function (error) {
                    // handle error
                    app.answers = error;
                  });

                
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
